apiVersion: apps/v1
kind: Deployment
metadata:
  name: slurmctld-deployment
  namespace: default
  labels:
    app: slurmctld
spec:
  replicas: 1
  selector:
    matchLabels:
      app: slurmctld
  template:
    metadata:
      labels:
        app: slurmctld
    spec:
      hostname: slurm
      hostAliases:
{% for i in range(1, 5) %}
      - ip: {{ "192.168.56.0/21" | ansible.netcommon.nthhost(100 + i) }}
        hostnames:
        - "node{{ "{:02}".format(i) }}"
{% endfor %}
      containers:
      #
      # The slurmctld container
      #
      - name: slurmctld
        image: 192.168.56.2:5000/slurmctld
        #command: ['/sbin/init']
        ports:
        - containerPort: 6817
        volumeMounts:
        - name: slurm-conf
          mountPath: "/etc/slurm/"
          readOnly: true
        - name: run-munge
          mountPath: "/run/munge"
        - name: var-lib-sss
          mountPath: "/var/lib/sss"
        - name: var-spool
          mountPath: "/var/spool"
      #
      # The munge container
      #
      - name: munge
        image: 192.168.56.2:5000/munge
        #command: ['/sbin/init']
        volumeMounts:
        - name: munge-key
          mountPath: "/data/munge/"
          readOnly: true
        - name: run-munge
          mountPath: "/run/munge"
      #
      # The sssd container
      #
      - name: sssd
        image: 192.168.56.2:5000/sssd
        #command: ['/sbin/init']
        volumeMounts:
        - name: sssd-conf
          mountPath: "/etc/sssd/"
          readOnly: true
        - name: var-lib-sss
          mountPath: "/var/lib/sss"
        - name: etc-passwd-d
          mountPath: "/etc/passwd.d"
      volumes:
      - name: slurm-conf
        configMap:
          name: slurm-conf
      - name: munge-key
        secret:
          secretName: munge-key
          defaultMode: 0400
      - name: sssd-conf
        configMap:
          name: sssd-conf
          defaultMode: 0600
      - name: etc-passwd-d
        configMap:
          name: etc-passwd-d
      - name: run-munge
        emptyDir: {}
      - name: var-lib-sss
        emptyDir: {}
      - name: var-spool
        persistentVolumeClaim:
          claimName: local-path-pvc
